.payment-method {
	&__icon {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		height: 50px;
		margin: 0 10px 0 0;
		vertical-align: middle;
		width: 50px;
	}
}
